* {
    color: $font-color;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.main-container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    background-color: $nourivre-2-hex;
}

.main {
    width: 80%;
    margin: 0 auto;
    padding: 0 10%;
    box-sizing: border-box;
}

body::before,
body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 10%;
    z-index: -1;
    background:
    radial-gradient(#000 3px, transparent 4px),
    radial-gradient(#000 3px, transparent 4px),
    linear-gradient($nourivre-2-hex 4px, transparent 0),
    linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
    linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    $nourivre-2-hex;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0 0, 0 0, 0 0, 0 0;
}

body::before {
    left: 0;
}

body::after {
    right: 0;
}
