/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 4px solid $nourivre-1-hex;
    background-color: #222;
    color: #fff;
    padding: 4rem 6rem;

    p {
        color: $nourivre-5-hex
    }
}

.footer a {
    color: #fff;
}

.footer .social {
    font-size: 2rem;
    color: $nourivre-5-hex;

    i {
        color: $nourivre-5-hex
    }
}

a {
    text-decoration: none;
    color: $nourivre-5-hex;
}

.social a {
    color: $nourivre-5-hex;
}
